@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Theme inline variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: 'Outfit', Arial, Helvetica, sans-serif;
  --font-sacramento: 'Sacramento', cursive;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global body styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit); /* default font */
}
/* Optional: classes for Outfit (can also use Tailwind font-sans) */
.font-outfit {
  font-family: var(--font-outfit);
}

@font-face {
  font-family: 'Sacramento';
  src: url('/fonts/Sacramento-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


